<h1>Ejercicio 3</h1>

## 1 Armar una tabla con

* todos los proyectos con nombres duplicados
* ordenados

### 1.1 Importando panda, numpy

In [1]:
import pandas
import numpy

### 1.2 Cargando datos de csv

In [2]:
file = "kickstarter-projects/ks-projects-201801.csv"
kickstarter_2018 = pandas.read_csv(file, parse_dates=["deadline","launched"], index_col=['ID'])

### 1.3 Tabla con proyectos duplicados

In [3]:
# Trayendo ids de proyectos duplicados
# keep false evita considerar los nombres en el vector ya que lo que necesitamos son los id solamente
ids_of_duplicated_projects = kickstarter_2018.name.duplicated(keep=False)

# Ordenando datos por el nombre del proyecto
kickstarter_2018[ids_of_duplicated_projects].sort_values(by='name')

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
ID,,,,,,,,,,,,,,
816998285,"""...The Last shall be first..."" LODB Lifestyle...",Fashion,Fashion,USD,2014-02-09,6500.0,2013-12-19 21:51:50,0.0,canceled,0,US,0.00,0.00,6500.00
815783250,"""...The Last shall be first..."" LODB Lifestyle...",Fashion,Fashion,USD,2014-03-01,6500.0,2014-01-03 20:39:16,37.0,failed,3,US,37.00,37.00,6500.00
1010584633,"""A Fresh Start""",Shorts,Film & Video,USD,2011-09-25,3000.0,2011-08-28 21:27:52,3000.0,successful,24,US,3000.00,3000.00,3000.00
713417995,"""A Fresh Start""",Documentary,Film & Video,USD,2013-03-27,5000.0,2013-01-26 03:51:47,1417.0,failed,26,US,1417.00,1417.00,5000.00
1880084695,"""American Sports Stories"" - An Athletic Quest",Shorts,Film & Video,USD,2015-08-26,100000.0,2015-06-27 02:02:00,100.0,failed,1,US,100.00,100.00,100000.00
422509694,"""American Sports Stories"" - An Athletic Quest",Television,Film & Video,USD,2017-05-14,100000.0,2017-04-14 00:08:52,1.0,failed,1,US,25.00,1.00,100000.00
866225086,"""City of Mercy"" (Canceled)",Film & Video,Film & Video,USD,2015-02-26,20000.0,2015-01-27 19:30:43,7248.0,canceled,9,US,7248.00,7248.00,20000.00
1760892298,"""City of Mercy"" (Canceled)",Television,Film & Video,USD,2014-08-28,15000.0,2014-07-29 13:12:21,11260.0,canceled,7,US,11260.00,11260.00,15000.00
1999958521,"""Color"" Music Video",Film & Video,Film & Video,USD,2016-06-06,5000.0,2016-05-07 01:56:36,0.0,canceled,0,"N,0""",NaN,0.00,5000.00
870322805,"""Color"" Music Video",Music,Music,USD,2015-09-16,1100.0,2015-09-02 00:03:02,1100.0,undefined,0,"N,0""",NaN,1100.00,1100.00
1413519345,"""Cut From the Illest Cloth"" - The Brand New Fu...",Hip-Hop,Music,USD,2014-03-26,9000.0,2014-03-01 19:32:15,1010.0,canceled,25,US,1010.00,1010.00,9000.00
1637334549,"""Cut From the Illest Cloth"" - The Brand New Fu...",Hip-Hop,Music,GBP,2014-03-04,14000.0,2014-02-02 16:00:57,225.0,canceled,7,GB,369.89,377.33,23478.12
1656736114,"""ONE""",Apps,Technology,USD,2016-02-25,10000.0,2016-01-26 17:37:04,0.0,failed,0,US,0.00,0.00,10000.00
159049492,"""ONE""",Classical Music,Music,USD,2016-09-26,10000.0,2016-08-12 03:19:12,10261.0,successful,113,US,1870.00,10261.00,10000.00
72198224,"""On The Road""",Tabletop Games,Games,USD,2014-01-01,20000.0,2013-12-02 22:19:48,612.0,failed,10,US,612.00,612.00,20000.00
996180421,"""On The Road""",Webseries,Film & Video,USD,2015-01-22,80000.0,2014-12-23 17:31:06,0.0,failed,0,US,0.00,0.00,80000.00
306461885,"""Pulse""- a new album from ""Blind Focus"" to sup...",Music,Music,CAD,2016-12-08,4000.0,2016-11-08 03:01:36,270.0,canceled,3,CA,44.77,204.90,3035.59
1023301684,"""Pulse""- a new album from ""Blind Focus"" to sup...",Music,Music,CAD,2016-12-17,4000.0,2016-11-17 09:45:59,0.0,canceled,0,CA,0.00,0.00,2959.89
516801004,"""Reflections""",Shorts,Film & Video,USD,2012-10-16,3000.0,2012-09-16 07:47:47,0.0,failed,0,US,0.00,0.00,3000.00
2007967203,"""Reflections""",Narrative Film,Film & Video,USD,2013-01-16,60000.0,2012-12-05 16:31:40,0.0,failed,0,US,0.00,0.00,60000.00
1223071711,"""RunRainbow"" Feature Film Sizzle Reel",Horror,Film & Video,USD,2016-11-11,3734.0,2016-10-27 21:59:08,715.0,failed,20,US,225.00,715.00,3734.00
2136175444,"""RunRainbow"" Feature Film Sizzle Reel",Thrillers,Film & Video,USD,2016-11-01,3734.0,2016-10-17 18:12:57,250.0,canceled,8,US,220.00,250.00,3734.00
1165257902,"""The Book of Sam"" Book One Graphic Novel",Comics,Comics,USD,2017-02-09,300.0,2017-01-10 17:09:27,111.0,failed,10,US,25.00,111.00,300.00
1606189204,"""The Book of Sam"" Book One Graphic Novel",Comics,Comics,USD,2017-02-05,5000.0,2017-01-06 01:55:34,5.0,canceled,1,US,0.00,5.00,5000.00
1823321664,"""What's in your spine?""",Young Adult,Publishing,USD,2017-04-18,800.0,2017-03-06 13:10:55,800.0,canceled,1,US,0.00,800.00,800.00
465144515,"""What's in your spine?""",Young Adult,Publishing,USD,2017-04-15,4946.0,2017-03-06 02:55:48,0.0,canceled,0,US,0.00,0.00,4946.00
234863316,#Elixir,Hip-Hop,Music,USD,2016-09-24,5000.0,2016-08-25 05:27:22,0.0,canceled,0,US,0.00,0.00,5000.00
2043567899,#Elixir,Hip-Hop,Music,USD,2016-09-30,5000.0,2016-08-25 23:04:09,0.0,failed,0,US,0.00,0.00,5000.00
1889457470,$50 for a 1k word short story on a topic of yo...,Anthologies,Publishing,CAD,2017-10-01,1000000.0,2017-08-02 17:37:10,0.0,canceled,0,CA,0.00,0.00,795228.63
1165878498,$50 for a 1k word short story on a topic of yo...,Anthologies,Publishing,CAD,2017-10-01,50.0,2017-08-02 18:01:49,50.0,successful,1,CA,0.00,39.76,39.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255984219,noparkticket.com,Apps,Technology,USD,2015-11-22,20000.0,2015-09-23 01:56:42,5.0,failed,1,US,5.00,5.00,20000.00
1945927325,noparkticket.com,Web,Technology,USD,2015-05-29,156000.0,2015-04-23 18:45:30,0.0,failed,0,US,0.00,0.00,156000.00
145035452,project (Canceled),Food,Food,USD,2011-08-19,5000.0,2011-07-20 21:07:17,0.0,canceled,0,US,0.00,0.00,5000.00
1297288919,project (Canceled),Mixed Media,Art,USD,2016-02-14,47000.0,2016-01-06 16:11:52,0.0,canceled,0,US,0.00,0.00,47000.00
1146277333,returning at a later date (Canceled),Fiction,Publishing,USD,2015-05-25,250.0,2015-04-30 22:01:59,1238.0,canceled,16,US,1238.00,1238.00,250.00
1556035715,returning at a later date (Canceled),Experimental,Theater,USD,2015-10-10,99.0,2015-09-25 20:38:59,100.0,canceled,2,US,100.00,100.00,99.00
391083153,returning at a later date (Canceled),Periodicals,Publishing,USD,2015-10-05,1.0,2015-09-25 01:42:42,50.0,canceled,2,US,50.00,50.00,1.00
1586289411,returning at a later date (Canceled),Food,Food,USD,2015-11-24,99.0,2015-11-14 06:14:14,30.0,canceled,2,US,30.00,30.00,99.00
576148925,sFTP Client,Apps,Technology,GBP,2016-12-04,10000.0,2016-11-04 16:21:01,103.5,canceled,10,GB,109.09,130.20,12580.04
467374509,sFTP Client,Apps,Technology,GBP,2016-12-31,80000.0,2016-11-03 15:27:16,0.0,canceled,0,GB,0.00,0.00,98907.08
1331807604,smartLED,Hardware,Technology,EUR,2018-01-06,10000.0,2017-12-07 09:34:41,56.0,live,5,FR,100.63,67.97,12136.95
216839969,smartLED,Hardware,Technology,EUR,2017-12-28,10000.0,2017-11-28 09:22:51,66.0,canceled,6,FR,78.70,79.15,11993.00
167364797,test (Canceled),Digital Art,Art,GBP,2016-03-20,360.0,2016-02-20 00:10:45,100.0,canceled,1,GB,143.03,141.30,508.68
1404511608,test (Canceled),Space Exploration,Technology,USD,2015-04-18,49000.0,2015-03-19 02:40:10,1333.0,canceled,10,US,1333.00,1333.00,49000.00
1117671370,test (Canceled),Web,Technology,USD,2014-09-06,20000.0,2014-07-08 02:12:30,5.0,canceled,1,US,5.00,5.00,20000.00
1492548024,weSTAND: A Stand With a Mission,Gadgets,Technology,USD,2016-01-25,200.0,2016-01-04 17:33:28,1728.6,successful,58,US,1728.60,1728.60,200.00
1863478885,weSTAND: A Stand With a Mission,Gadgets,Technology,USD,2015-10-18,7000.0,2015-09-18 21:39:35,530.0,failed,19,US,530.00,530.00,7000.00
1334808206,x,Film & Video,Film & Video,GBP,2016-04-01,2000.0,2016-02-21 19:53:48,0.0,undefined,0,"N,0""",NaN,0.00,2861.93
774948469,x,Apps,Technology,USD,2014-12-19,1500.0,2014-11-18 04:56:32,151.0,failed,4,US,151.00,151.00,1500.00
1955983697,x (Canceled),Software,Technology,USD,2011-02-21,20000.0,2011-01-21 00:21:20,0.0,canceled,0,US,0.00,0.00,20000.00
983316237,x (Canceled),Fiction,Publishing,USD,2012-07-24,10000.0,2012-06-26 22:15:19,0.0,canceled,0,US,0.00,0.00,10000.00
58345768,x (Canceled),Children's Books,Publishing,USD,2016-07-24,15000.0,2016-05-25 06:48:32,0.0,canceled,0,US,0.00,0.00,15000.00
1612055887,x (Canceled),Fiction,Publishing,USD,2012-02-22,15000.0,2012-01-12 01:07:01,0.0,canceled,0,US,0.00,0.00,15000.00
234114061,x (Canceled),Fashion,Fashion,USD,2013-09-03,5900.0,2013-07-29 20:14:48,0.0,canceled,0,US,0.00,0.00,5900.00
1839948714,xxx (Canceled),Food,Food,USD,2014-04-26,55000.0,2014-03-21 18:45:06,13591.0,canceled,156,US,13591.00,13591.00,55000.00
329580179,xxx (Canceled),Art,Art,USD,2011-09-03,10000.0,2011-06-05 04:54:37,1151.0,canceled,18,US,1151.00,1151.00,10000.00
1848699072,NaN,Narrative Film,Film & Video,USD,2012-02-29,200000.0,2012-01-01 12:35:31,100.0,failed,1,US,100.00,100.00,200000.00
634871725,NaN,Video Games,Games,GBP,2013-01-06,2000.0,2012-12-19 23:57:48,196.0,failed,12,GB,317.73,316.05,3224.97
648853978,NaN,Product Design,Design,USD,2016-07-18,2500.0,2016-06-18 05:01:47,0.0,suspended,0,US,0.00,0.00,2500.00
796533179,NaN,Painting,Art,USD,2011-12-05,35000.0,2011-11-06 23:55:55,220.0,failed,5,US,220.00,220.00,35000.00

## 2 Verificar

* proyectos que tienen nombres duplicados tambiÃ©n tienen el hash de nombre duplicado

### 2.1 Importando md5 de hashlib

In [4]:
# Necesitamos esta libreria para codificar como hash los nombres de los proyectos
from hashlib import md5

### 2.2 Creando la funciÃ³n "convertir_a_hash"

In [5]:
def convertir_a_hash(val):
    if isinstance(val, float): 
        return str(val)
    return md5(val.encode('utf-8')).hexdigest()

### 2.3 Creando una nueva columna hashname con el nombre en hash

In [6]:
kickstarter_2018['hashname'] = kickstarter_2018['name'].apply(convertir_a_hash)

### 2.4 Verificando que el hash name tambiÃ©n este duplicado

In [7]:
# Trayendo ids de proyectos duplicados
# keep false evita considerar los nombres en el vector ya que lo que necesitamos son los id solamente
ids_of_duplicated_projects = kickstarter_2018.name.duplicated(keep=False)

# Ordenando datos por el nombre del proyecto
kickstarter_2018[ids_of_duplicated_projects].sort_values(by='name')[['hashname','name']].head(5)

,hashname,name
ID,,
816998285,0c7a251ffe4c7834cbc4b04906952ff1,"""...The Last shall be first..."" LODB Lifestyle..."
815783250,0c7a251ffe4c7834cbc4b04906952ff1,"""...The Last shall be first..."" LODB Lifestyle..."
1010584633,67554ab4203d95f2f2f05365f768206e,"""A Fresh Start"""
713417995,67554ab4203d95f2f2f05365f768206e,"""A Fresh Start"""
1880084695,19a82bc4c5961834282575d07d9b5f7c,"""American Sports Stories"" - An Athletic Quest"

## 3 Comparar

* la cantidad de nombres raros en kickstarter_2018 con la que obtenemos al cargar 'ks-projects-201801.csv' con encoding iso-8859-1

### 3.1 Importando badness de ftfy

In [8]:
# Necesitamos esta libreria para establecer cuales son los valores raros
import ftfy.badness as badness

### 3.2 Creando la funciÃ³n es_raro

In [9]:
def es_raro(val):
    if isinstance(val, float): 
        return 0
    return badness.sequence_weirdness(val)

### 3.3 Creando una columna 'nombres_raros'

In [10]:
kickstarter_2018['nombres_raros'] = kickstarter_2018['name'].apply(es_raro)

### 3.4 Conteo de nombres raros

In [11]:
cantidad_de_nombres_raros = kickstarter_2018[kickstarter_2018['nombres_raros'] > 1].shape[0]
print ('Cantidad de nombres raros de kickstarter_2018 sin encoding', cantidad_de_nombres_raros)

Cantidad de nombres raros de kickstarter_2018 sin encoding 26

### 3.5 Conteo de nombres raros del dataset con encoding iso-8859-1

In [12]:
kickstarter_2018_con_encoding_iso_8859_1 = pandas.read_csv("kickstarter-projects/ks-projects-201801.csv", encoding='iso-8859-1')
kickstarter_2018_con_encoding_iso_8859_1['nombres_raros'] = kickstarter_2018_con_encoding_iso_8859_1['name'].apply(es_raro)

cantidad_de_nombres_raros_con_encoding_iso_8859_1 = kickstarter_2018_con_encoding_iso_8859_1[kickstarter_2018_con_encoding_iso_8859_1['nombres_raros'] > 1].shape[0]
print ('Cantidad de nombres raros en dataset con encoding iso 8859-1', cantidad_de_nombres_raros_con_encoding_iso_8859_1)

Cantidad de nombres raros en dataset con encoding iso 8859-1 7682

### 3.6 Analisis entre los dos datasets

* La cantidad de datos raros en el dataset de kickstarter sin encoding es de : 26
* La cantidad de datos raros en el dataset de kickstarted con encoding es de : 7682

## 4 Codificar

* Currency con dos estrategias

### 4.1 LabelEncoder

#### 4.1.1 Importando libreria preprocessing de sklearn

In [13]:
from sklearn import preprocessing

#### 4.1.2 Aplicando LabelEncoder sobre la columna "currency"

In [14]:
columna = 'currency'

file = "kickstarter-projects/ks-projects-201801.csv"
kickstarter_2018 = pandas.read_csv(file, parse_dates=["deadline","launched"], index_col=['ID'])

# Preparando columna currency para aplicar labelEncoder
labelEncoder = preprocessing.LabelEncoder()
labelEncoder.fit(kickstarter_2018[columna])

## se visualiza el mapa de encode
dict(zip(labelEncoder.classes_, labelEncoder.transform(labelEncoder.classes_)))

# Aplicando Label encoder sobre el campo currency
kickstarter_2018[columna] = labelEncoder.transform(kickstarter_2018[columna]) 
kickstarter_2018.head()

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
ID,,,,,,,,,,,,,,
1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,5,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,13,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
1000004038,Where is Hank?,Narrative Film,Film & Video,13,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,13,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,13,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

#### 4.1.3 Aplicando la inversa de LabelEncoder sobre la columna "currency"

In [15]:
kickstarter_2018[columna] = labelEncoder.inverse_transform(kickstarter_2018[columna]) 
kickstarter_2018.head()

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
ID,,,,,,,,,,,,,,
1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

### 4.2 LabelBinarizer

#### 4.2.1 Importando libreria LabelBinarizer de preprocessing

In [18]:
# Ahora se aplica el encoding con LabelBinarizer
from sklearn.preprocessing import LabelBinarizer

#### 4.2.2 Aplicando LabelBinarizer sobre la columna "currency"

In [23]:
columna = 'currency'
labelBinarizer = LabelBinarizer()
labelBinarizer_result = labelBinarizer.fit_transform(kickstarter_2018[columna])
pandas.DataFrame(labelBinarizer_result, columns=((columna + '_') + pandas.Series(labelBinarizer.classes_))).head(10)

,currency_AUD,currency_CAD,currency_CHF,currency_DKK,currency_EUR,currency_GBP,currency_HKD,currency_JPY,currency_MXN,currency_NOK,currency_NZD,currency_SEK,currency_SGD,currency_USD
0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5,0,0,0,0,0,0,0,0,0,0,0,0,0,1
6,0,0,0,0,0,0,0,0,0,0,0,0,0,1
7,0,0,0,0,0,0,0,0,0,0,0,0,0,1
8,0,0,0,0,0,0,0,0,0,0,0,0,0,1
9,0,0,0,0,0,0,0,0,0,0,0,0,0,1

## 5